<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>blog</title>

		<script src="http://binyoyo.github.io/js/jquery.js"></script>
	</head>
	<body>
		<div class="header">
			<div class="logo">
				<span class="user_image">
				<img src="http://binyoyo.github.io/images/user_image.jpg">
				</span>
				<h1 class="user_name">Binyoyo</h1>
				<span class="user_job">程序猿</span>
			</div><!-- /logo -->

			<div class="nav">
				<ul >
					<li><a href=".blog" title="" class="active">Blog</a></li>
					<li><a href=".life" title="">Life</a></li>
					<li><a href=".show" title="">show</a></li>
					<li><a href=".me" title="">Me</a></li>
					
				</ul>
			</div><!-- /nav -->

		</div><!-- /header -->
		
		{{ content }}

		<div class="footer">
			<p>© 2014 BINYOYO.</p>
			<p> MY Github:
				<a href="www.github.com/binyoyo" title="">www.github.com/binyoyo</a>
			</p>		
		</div><!-- /footer -->		

	</body>
</ht
ml>