<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
		<meta charset="utf-8">
		<title>blog</title>
		<link rel="stylesheet" href="http://binyoyo.github.io/css/page.css">
		<link rel="stylesheet" href="http://binyoyo.github.io/css/default.css">
	</head>
	<body>		
		<div class="header">
			<div class="nav">
				<ul>
					<li><a href="/" title="" class="active">HOME</a></li>
					<li><a href="/blog" title="">Blog</a></li>
					<li><a href="/life" title="">Life</a></li>
					<li><a href="/" title="">Me</a></li>
					
				</ul>
			</div><!-- /nav -->

		</div><!-- /header -->	
		<div class="main">
			
			{{ content }}

		</div><!-- / -->
		<div class="footer">
			<p>© 2014 BINYOYO.</p>
			<p> MY Github:
				<a href="www.github.com/binyoyo" title="">www.github.com/binyoyo</a>
			</p>		
		</div><!-- /footer -->		

	
</body>
</html>

		
