---
layout: default
---
<link rel="stylesheet" href="../css/post.css">
		<div class="header">
			<div class="nav">
				<ul >
					<li><a href="http://binyoyo.github.io" title="" class="active">HOME</a></li>
					<li><a href="http://binyoyo.github.io/blog" title="">Blog</a></li>
					<li><a href="http://binyoyo.github.io/life" title="">Life</a></li>
					<li><a href="http://binyoyo.github.io/me" title="">Me</a></li>
					
				</ul>
			</div><!-- /nav -->

		</div><!-- /header -->
		<div class="main">
			<div class="list_nav">
				<h1>Blog</h1>
				<div class="list">
					<ul>
						<li><a href="" title="">大胆使用CSS3动画sdsadsdfsdfsdfdsfds</a></li>
						<li><a href="" title="">大胆使用CSS3动画dsadas</a></li>
						<li><a href="" title="">大胆使用CSS3动画dasdas</a></li>
						<li><a href="" title="">大胆使用CSS3动画asdasd</a></li>
						<li><a href="" title="">大胆使用CSS3动画asdsa</a></li>
					</ul><!-- / -->
				</div>

				<h1>life</h1>
				<div class="list">
					<ul>
						<li><a href="" title="">大胆使用CSS3动画sdsadsdfsdfsdfdsfds</a></li>
						<li><a href="" title="">大胆使用CSS3动画dsadas</a></li>
						<li><a href="" title="">大胆使用CSS3动画dasdas</a></li>
						<li><a href="" title="">大胆使用CSS3动画asdasd</a></li>
						<li><a href="" title="">大胆使用CSS3动画asdsa</a></li>
					</ul><!-- / -->
				</div>
			</div>

			<div class="artcial">
				
			<h2>{{ page.title }}</h2>
			<p class="meta">{{ page.date | date_to_string }}</p>

				{{ content }}
					
			</div>

		</div><!-- /post -->