---
layout: default
---
<link rel="stylesheet" href="/css/post.css">
<div class="main">
			<div class="list_nav">
				<h1>Blog</h1>
				<div class="list">
					<ul>
						<li><a href="" title="">大胆使用CSS3动画sdsadsdfsdfsdfdsfds</a></li>
						<li><a href="" title="">大胆使用CSS3动画dsadas</a></li>
						<li><a href="" title="">大胆使用CSS3动画dasdas</a></li>
						<li><a href="" title="">大胆使用CSS3动画asdasd</a></li>
						<li><a href="" title="">大胆使用CSS3动画asdsa</a></li>
					</ul><!-- / -->
				</div>

				<h1>life</h1>
				<div class="list">
					<ul>
						<li><a href="" title="">大胆使用CSS3动画sdsadsdfsdfsdfdsfds</a></li>
						<li><a href="" title="">大胆使用CSS3动画dsadas</a></li>
						<li><a href="" title="">大胆使用CSS3动画dasdas</a></li>
						<li><a href="" title="">大胆使用CSS3动画asdasd</a></li>
						<li><a href="" title="">大胆使用CSS3动画asdsa</a></li>
					</ul><!-- / -->
				</div>
			</div>

			<div class="artcial">
				
			<h2>{{ page.title }}</h2>
			<p class="meta">{{ page.date | date_to_string }}</p>

				{{ content }}
					
			</div>

		</div><!-- /post -->